# El archivo ".env" NUNCA se sube a GitHub.

# Usuario y contraseña con los que se conectan en SQL Developer
DB_USER=admin
DB_PASSWORD=tu_password_aqui

# El nombre del servicio que se usa en SQL Developer para conectar
# (aparece en la lista de conexiones, algo como "xxxxx_high" o "xxxxx_medium")
DB_DSN=nombre_servicio_high

# Ruta a la carpeta donde se descomprimio el wallet del tenant
WALLET_LOCATION=./wallet

# La contraseña del wallet (Se asigno al descargar el wallet/configurarlo)
WALLET_PASSWORD=password_del_wallet
